<div class="table-responsive">
    <div class="row">
        <div class="col-md-12">
            <h2 id="retweets">Tweets most retweeted in this period</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ranking</th>
                        <th class="hidden-xs">Original poster (OP)</th>
                        <th class="hidden-xs">Number of retweets in database</th>
                        <th>Tweet</th>
                        <th class="hidden-xs"><a tabindex="0" data-toggle="popover" data-trigger="focus"
                            data-placement="bottom" data-content="According to the IUNI/CetS
                            Botometer Project, &quot;the probability, according
                            to our models, that this account is completely automated, i.e.,
                            a bot.&quot; For details, see &quot;How to use this site&quot;
                            (link above).">Botometer score</a> (%)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if most_retweeted_inperiod_list[0] %}
                        {% for item in most_retweeted_inperiod_list %}
                            <tr>
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td class="hidden-xs">
                                    {{ item[1] }}
                                </td>
                                <td class="hidden-xs">{{ item[2] }}</td>
                                <td>
                                    {{ item[4]|safe}}

                                </td>


                                <td class="hidden-xs">
                                {% if item[3] == 0.00 or item[3] == None %}
                                    Not yet in database
                                {% else %}
                                    {{ item[3] }}
                                {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                No retweeted Tweets in database for this period
                            </td>
                        </tr>
                    {% endif %}


                </tbody>
            </table>
        </div>
    </div>
</div>
