
<p>At Pollchatter, accessible at Pollchatter.org and operated by Mayfly Research,
    we take privacy very seriously,
    certainly including the privacy of our visitors. This privacy-policy document specifies the
    types of information that are collected and recorded by Pollchatter and how
    we use it.</p>

<p>If you have additional questions or require more information about our privacy
     policy, please contact us by email at info@mayflyresearch.com</p>

<h2>General Data Protection Regulation (GDPR)</h2>
<p>For the purposes of the European General Data Protection Regulation (GDPR), we
     are a data controller of your information.</p>

<p>Our aim is to minimize the collection of personally identifiable information.
    However, for the purposes of the GDPR (a law we generally think is a pretty
    good idea, despite the headaches associated with documents such as this one),
    the legal basis for Mayfly Research's collection and use of the personal information
     described in this privacy policy depends on the specific personal information being
     collected and the specific context in which we collect the information. Such
     permissible contexts include:
 </p>
<ul>
    <li>Mayfly Research needs to perform a contract with you.</li>
    <li>You have given Mayfly Research permission to collect and use the information.</li>
    <li>Processing your personal information is in Mayfly Research's legitimate
        interests.</li>
    <li>Mayfly Research needs to comply with the law.</li>
</ul>

<p> Mayfly Research will retain your personal information only for as long as is
     necessary for the purposes set out in this Privacy Policy. We will retain and
     use your information to the extent necessary to comply with our legal
     obligations, resolve disputes, and enforce our policies.</p>

<p>If you are a resident of the European Economic Area (EEA), you have certain
    data protection rights. If you wish to be informed what personal information
     we hold about you, or if you wish such information to be removed from our systems, please
     contact us. Also, please note that your personal information (as
     described in this privacy policy) will be transferred to, processed by,
     and stored on our servers in the United States.
 </p>

<p>In certain circumstances, you have the following data protection rights:</p>
<ul>
    <li>The right to access, update or to delete the information we have on you.</li>
    <li>The right of rectification.</li>
    <li>The right to object.</li>
    <li>The right of restriction.</li>
    <li>The right to data portability</li>
    <li>The right to withdraw consent</li>
</ul>

<h2>Personal information collected by us</h2>

<p>
    When you visit Pollchatter.org, we automatically collect certain information
    about your device, including information about your web browser,
    IP address, and time zone. Additionally, as you browse the site, we collect
    information about the individual web pages that you view,
    what websites or search terms referred you to the site, and information
    about how you interact with the site. We refer to this
    automatically collected information as “device information.”
</p>

<p>    We collect device information using the following technologies:<p>
<ul>
       <li>“Log files” track actions occurring on the site, and collect data
       including your IP address, browser type, Internet service provider,
       referring/exit pages, and date/time stamps.</li>
</ul>


<p>Additionally, should you choose to contact us directly by email,
    we will retain your email address and whatever information you choose to
    provide to us in your message in order to maintain contact with you, unless
    specifically asked not to so so. We refer to this as "contact information."
    We will not provide your contact information to any other third party.
</p>

<h2>How do we use your personal information?</h2>

We use the device information that we collect (in particular, your IP address)
to help us screen for potential security risks and attacks, and more generally
to improve and optimize our site (for example, by generating analytics about
how our vistors browse and interact with the site, and to assess the success of
our outreach campaigns).

We use the contact information collected in the course of any email conversations
in order to communicate with you.

<h2>Sharing your personal information</h2>
As a matter of policy, we do not share any personal information with third parties.
As an unlikely caveat, we may share your personal information if necessary to comply with applicable
laws and regulations, to respond to a subpoena, search warrant or other lawful
request for information we receive, or to otherwise protect our rights.

<h2>Do Not Track</h2>
<p>
Please note that we do not alter our site’s data collection and use practices
when we see a Do Not Track signal from your browser. We believe our own
data-collection practices (collecting only device information, without tracking
individual users) comply with this request.
</p>
<p>
However, we are aware that the embedded Twitter content does not comply
with the Do Not Track standards. See "Twitter content" section for additional information.
</p>

<h2>THIRD PARTY CONTENT AND PRIVACY POLICIES</h2>

<h2>Twitter content</h2>

<p>
    Twitter is a microblogging service of Twitter Inc., 1355 Market Street,
    Suite 900, San Francisco, CA 94103, USA (hereinafter “Twitter”).
</p>
<p>
As the aim of this site is to allow users to understand trends and behavior
associated with election-related content on Twitter, we feel it is necessary to
provide actual examples of Twitter content. Under the terms of Twitter's
developer rules, we are required to display their content in a certain branded format.
In order to ensure this content is dynamic and up-to-date, we use their
"<a href="https://developer.twitter.com/en/docs/twitter-for-websites/embedded-tweets/overview">embedded
    Tweet</a>" function to display active Tweets.
</p>
<p>
While this has certain conveniences, it also exposes our visitors to a certain
amount of online tracking.
</p>
<p>To the best of our knowledge, when you visit a page on our website that contains
    embedded Twitter content, your browser will directly connect to Twitter’s servers,
    where the embedded Tweet is loaded from. The fact that you have visited
    our online services will be transmitted to Twitter (including information on your IP
    address) even if you are not logged into your account. If you are logged into your account, Twitter may
    be able to associate your visit to our pages with your user account. As the provider of the
    Pollchatter site, we are not aware of the full content of this transmitted data, and are not
    cognizant of how this information will be used by Twitter.
</p>
<p>We strongly recommend you visit Twitter's <a href="https://twitter.com/en/privacy">
    privacy policy</a> for more information on
    this subject. A key element (but not the only relevant element) in their policy
    is the following:
</p>
<p><blockquote>
    When you view our content on third-party websites that integrate Twitter content
    such as embedded timelines or Tweet buttons, we may receive Log Data that includes
    the web page you visited. We use this information to better understand the use of our
    services, to protect the safety and integrity of our platform, and to show more
    relevant content, including ads. We do not associate this web browsing history with
    your name, email address, phone number, or username, and we delete, obfuscate, or
    aggregate it after no longer than 30 days. We do not collect this data from browsers
    that we believe to be located in the European Union or EFTA States.
</blockquote></p>
<p>
    We recognize that even this information can be difficult to understand.
    We highly recommend visiting pro-privacy organizations such as the
    <a href="https://www.eff.org/deeplinks/2017/08/privacy-badger-makes-twitter-little-less-creepy">
        Electronic Frontier Foundation</a>, whose <a href="https://www.eff.org/privacybadger">
            Privacy Badger</a> tool does a very good job with regard to
            protecting you against rampant online tracking.
</p>



<h2>Children's Information</h2>

<p>Protection for children using the
    internet is of course another important aspect of online privacy and security.
    We encourage parents and guardians to observe, participate in, and/or
    monitor and guide their online activity.</p>

<p>Pollchatter does not knowingly collect any personal identifiable information
    from children under the age of 13. If you think that your child provided this
    kind of information on our website, we strongly encourage you to contact us
    immediately and we will do our best efforts to promptly remove such information
    from our records.</p>

<h2>Online privacy policy only</h2>

<p>This privacy policy applies only to our online activities and is valid
    for visitors to our website with regard to the information shared with and/or
    collected by Pollchatter. This policy is not applicable to any information collected
    offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our privacy policy and agree to
    its terms.</p>

<h2>Changes</h2>

<p>We may update this privacy policy from time to time in order to reflect, for
example, changes to our practices or for other operational, legal or regulatory
reasons.</p>

<h2>Contact us</h2>
<p>

For more information about our privacy practices, if you have questions,
or if you would like to make a complaint, please contact us by e-mail at
info@mayflyresearch.com or by mail using the details provided below:
</p>
<p>
  John Borland, Fehmarner Str. 19, Berlin, 13353, Germany
</p>
