{% extends "base.html" %}

{% block app_content %}

<div id="#top" class="titlebox">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-5 text-center">
                <h1 class="display-4">TL;DR</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr class="my-4">
            <div class="py-5 text-left">
                <ul>
                    <li>Spot Twitter trends across competitive electoral districts</li>
                    <li>Who’s twittering where, and how often?</li>
                    <li>What hashtags are trending where?</li>
                    <li>What issues are being discussed (or imposed) in multiple districts?</li>
                    </ul>
                </ul>
            </div>


            <hr class="my-4">
        </div>
        <div class="col-sm-2"></div>
    </div>



<h4>WHAT’S THE POINT?</h4>
<p>
PollChatter is driven by a simple idea: that we, as voters and participants in
a democratic society, should be able to understand who is trying to influence us,
and why.
</p>
<p>
We can’t tell you who people really are on Twitter. Nor do we want to.
There ought to be some privacy in this world.
</p>
<p>
But we can show you trends. Across districts, across screen names, across
hashtags. If anyone’s trying to move the political needle (and we all know they
are), there’s a chance it might show up here.
</p>
<p>
So: click around and see what’s happening. And then go out and
shake the world up.
</p>
<br>
<h4>WHOSE SIDE ARE YOU ON?</h4>
<p>
Stop already with the sides! Nothing's really that simple.
<p>
But in general, we’ll let Kenzaburo Oe, the Japanese Nobel Prize-winning writer
(read him! read everybody!), take the question:
</p>
<p>
<blockquote>
    “I am an anarchist who loves democracy.”
</blockquote>
</p>
<p>
Draw your own conclusions.
</p>
<br>
<h4>WHAT’S THE LONG GAME?</h4>
<p>
We live in a big-data society. It is very clearly not an information democracy.
So what to do?
</p>
<p>
<strong>Fight data with data</strong>, is our idea. It’s probably not good
physics, but until someone has a better idea, we’ll keep coding.
</p>


{% endblock %}
