{% extends "base_clean.html" %}

{% block app_content %}

<div id="#top" class="titlebox">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-5 text-center">
                <h1 class="display-4">TL;DR</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr class="my-4">
            <div class="py-5 text-left">
                <ul>
                    <li>Spot Twitter trends across competitive electoral districts</li>
                    <li>Who’s twittering where, and how often?</li>
                    <li>What hashtags are trending where?</li>
                    <li>What issues are being discussed (or imposed) in multiple districts?</li>
                    </ul>
                </ul>
            </div>


            <hr class="my-4">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4><strong>WHAT’S THE POINT?</strong></h4>
        <p>
        PollChatter is driven by a simple idea: that we, as voters and participants in
        a democratic society, should be able to understand who is trying to influence us,
        and why.
        </p>
        <p>
        We can’t tell you who people really are on Twitter. Nor do we want to.
        There ought to be some privacy in this world.
        </p>
        <p>
        But we can show you trends. Across districts, across screen names, across
        hashtags. If anyone’s trying to move the political needle (and we all know they
        are), there’s a chance it might show up here.
        </p>
        <p>
        So: click around and see what’s happening. And then go out and
        shake the world up.
        </p>
        <br>
        <h4><strong>WHOSE SIDE ARE YOU ON?</strong></h4>
        <p>
        We’re on the side of transparency. Peace, justice, and a very
        different American way.
        </p>
        <p>
        Kenzaburo Oe, the Japanese Nobel Prize-winning novelist,
        <a href="https://www.theparisreview.org/interviews/5816/kenzaburo-oe-the-art-of-fiction-no-195-kenzaburo-oe">
            described himself</a> as “an anarchist who loves democracy.”
            We think that's a beautiful idea.
        </p>
        <br>
        <h4><strong>WHAT’S THE LONG GAME?</strong></h4>
        <p>
        We live in a big-data society. It is very clearly not an information democracy.
        So what to do?
        </p>
        <p>
        <strong>Fight data with data</strong>, is our idea. It’s probably not good
        physics, but until someone has a better idea, we’ll keep coding.
        </p>

    </div>
    <div class="col-sm-2"></div>
</div>



{% endblock %}
