{% extends "base_clean.html" %}

{% block app_content %}

<div id="#top" class="titlebox">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-5 text-center">
                <h1 class="display-4">TL;DR</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr class="my-4">
            <div class="py-5 text-left">
                <ul>
                    <li>Spot Twitter trends across competitive electoral districts</li>
                    <li>Who’s twittering about the 2018 U.S. elections, and how often?</li>
                    <li>What hashtags are trending where?</li>
                    <li>What issues are being discussed (or imposed) in multiple districts?</li>
                    </ul>
                </ul>
            </div>


            <hr class="my-4">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h4><strong>WHAT’S THE POINT?</strong></h4>
        <p>
        PollChatter is driven by a simple idea: that we, as voters and participants in
        a democratic society, should be able to understand who is trying to influence us,
        and why.
        </p>
        <p>
        We can’t tell you who people really are on Twitter. Nor do we want to.
        There ought to be some privacy in this world.
        </p>
        <p>
        But we can show you trends. Across districts, across screen names, across
        hashtags. If anyone’s trying to move the political needle (and we all know they
        are), there’s a chance it might show up here.
        </p>
        <p>
        So: click around and see what’s happening. And then go out and
        shake the world up.
        </p>
        <br>

        <h4><strong>WHO ARE YOU?</strong></h4>
        <p>
        Pollchatter is primarily the work of <a href="http://www.johnborland.com">
        John Borland</a>, an award-winning former political and technology reporter
        (Cnet News.com, Wired News, California Journal, etc.) currently engaged in data
        journalism and digital activism, alongside other activities. A number of
        other people both on and offline have offered valuable suggestions and
        critiques. It is the first public entry in the broader
        <a href="http://www.mayflyresearch.com">Mayfly Research</a> project.
        </p>
        <br>

        <h4><strong>WHOSE SIDE ARE YOU ON?</strong></h4>
        <p>
        We’re on the side of transparency. We're not associated with any
        political party, but that certainly doesn't mean we don't have opinions.
        </p>
        <p>
        Kenzaburo Oe, the Japanese Nobel Prize-winning novelist, once
        <a href="https://www.theparisreview.org/interviews/5816/kenzaburo-oe-the-art-of-fiction-no-195-kenzaburo-oe">
            described himself</a> as “an anarchist who loves democracy.”
            We think this idea ought to be taken seriously.
        </p>
        <br>
        <h4><strong>WHAT’S THE LONG GAME?</strong></h4>
        <p>
        We live in a big-data society. It is very clearly not an information democracy.
        So what to do?
        </p>
        <p>
        <strong>Fight data with data</strong>, is our idea. It’s probably not good
        physics, but until someone has a better idea, we’ll keep coding.
        </p>
        <br>
        <h4><strong>CONTACT US</strong></h4>
        <p>
        We'd love to hear from you: thoughts about the site, data requests or
        concerns, suggestions for future analyses, or just political rants.
        </p>
        <p>
            The best ways to reach us are:
        </p>
        <ul>
            <li>Email: info@mayflyresearch.com</li>
            <li>Twitter: @mayflyresearch</li>
        </ul


    </div>
    <div class="col-sm-2"></div>
</div>



{% endblock %}
