{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block left_sidenav_content %}

<li class="active"><a class="nav-link active" href="#top">District overview</a></li>
<li><a href="#top_hashtags">Hashtags used</a></li>
<li><a href="#top_tweeters">Frequent Tweeters</a></li>
<li><a href="#most_retweeted_users">Most retweeted</a></li>
<li><a href="#retweets">Top retweets</a></li>

{% endblock %}


{% block app_content %}


<div id="#top" class="titlebox">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-5 text-center">
                <h1 class="display-4">District: {{ dist_obj[0] }}
                    {% if dist_obj[1] == 'sen' %}
                        Senate
                    {% else %}
                        {{ dist_obj[1] }}
                    {% endif %}
                    </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr class="my-4">
            <div class="py-5 text-left">
                <h4><p>Currently represented by: <em>{{ dist_obj[2] }} ({{ dist_obj[3]}})</em></p></h4>
                <h4><p>2016 election results:</p></h4>
                <ul>
                    <li>Hillary Clinton: <em>{{ dist_obj[4]}}%</em></li>
                    <li>Donald Trump: <em>{{ dist_obj[5]}}%</em></li>
                </ul>
                {% if dist_obj[6] %}
                <h4><p>2018 Democratic candidate: <em>{{ dist_obj[6] }}</em></p></h4>
                <h4><p>2016 Republican candidate: <em>{{ dist_obj[7] }}</em></p></h4>
                {% endif %}
            </div>

            <div class="dropdown text-right">

                <button class="btn btn-default btn-sm dropdown-toggle"
                 type="button" id="changeTimeButton" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="true">

                    {{ time_delta }}-day view

                    <span class="caret"></span>
                </button>
                    {% include '_datechange_form.html' %}
            </div>
            <hr class="my-4">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<div id="graphs">
    <div class="row text-center">
        <div class="col-sm-12">
            <div id="chart1" class="chart"></div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 text-center">
        {% if time_delta=='1' %}
        <h2 class="text-muted">Data: Last {{ time_delta }} day</h2>
        {% else %}
        <h2 class="text-muted">Data: Last {{ time_delta }} days</h2>
        {% endif %}
        <hr class="my-4">
    </div>
    <div class="col-sm-2"></div>
</div>

<div id="top_hashtags" class="left-table"></div>
<div>
    <div class="table=responsive">
        <div class="row">
            <div class="col-md-6">
                <h2>Most frequently used hashtags</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Hashtag</th>
                            <th>Appearances</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in dist_hashes[0:20] %}
                        <tr>
                            <td><a href={{ url_for('hashtag', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div>
                    <h2 id="top_tweeters">Most active Tweeters</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Screenname</th>
                            <th>Appearances</th>
                            <th><a tabindex="0" data-toggle="popover" data-trigger="focus"
                                data-placement="top" data-content="According to the IUNI/CetS
                                Botometer Project, &quot;the probability, according
                                to our models, that this account is completely automated, i.e.,
                                a bot.&quot; For details, see &quot;How to use this site&quot;
                                (link above).">Botometer score</a> (%)</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in top_tweeters[0:20] %}
                        <tr>
                            <td><a href={{ url_for('screen_name', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                            {% if item[2] == 0.00 or item[2] == None %}
                                <td>Not yet in database</td>
                            {% else %}
                                <td>{{ item[2] }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="table=responsive">
        <div class="row">
            <div class="col-md-12">
                <h2 id="most_retweeted_users">Most frequently retweeted users</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Screenname</th>
                            <th>Number of appearances</th>
                            <th><a tabindex="0" data-toggle="popover" data-trigger="focus"
                                data-placement="top" data-content="According to the IUNI/CetS
                                Botometer Project, &quot;the probability, according
                                to our models, that this account is completely automated, i.e.,
                                a bot.&quot; For details, see &quot;How to use this site&quot;
                                (link above).">Botometer score</a> (%)</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in most_retweeted_list %}
                        <tr>
                            <td><a href={{ url_for('screen_name', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% include '_tweet_table.html' %}


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'line']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data = google.visualization.arrayToDataTable(
            {{ hash_table_rows|tojson }}
        );

        var options = {
          title: "Current top hashtags (excepting district names), 10-day view"
        };

        var chart1 = new google.visualization.LineChart(document.getElementById('chart1'));

        chart1.draw(data, options);
      }

      $(window).resize(function(){
          drawChart1();
      });

    </script>


{% endblock %}
