{% extends "base_clean.html" %}


{% block app_content %}

<div id="error text" class="pt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <h1>That's a good question.</h1>
            <br>
            <h4>Unfortunately, we can't answer it. We haven't seen "{{ dynamic }}" in our database yet.</h4>
            <h4>Would you like to go <a href="{{ url_for('index') }}">back</a>?</h4>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{% endblock %}
