{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block left_sidenav_content %}
<li class="active"><a href="#top">Overview</a></li>
<li><a href="#hashtags">All hashtags</a></li>
<li><a href="#hashtags_nodist">Non-district hashtags</a></li>
<li><a href="#tweeters">Top Tweeters</a></li>
<li><a href="#retweeted">Most often retweeted</a></li>


{% endblock %}

{% block app_content %}

<div class="titlebox">
    <div class="row">
        <div class="col-sm-12">
            <div class="py-5 text-center">
                <h1 id="top" class="display-4">Overview:<h1>
                <h3>All 102 competitive congressional districts</h3>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <hr class="my-4">
            <div class="py-5 text-left">

                <h4><p>Total tweets in time period: <em>{{ all_tweets[0] }}</em></p></h4>
                {% if most_active[0] %}
                <h4><p>Most active district: <em>{{ most_active[0][0] }}</em>
                {% endif %}
                <h4><p>Most active tweeter: <em>{{ top_tweeters[0][0] }}</em></h4></p>
                <h4><p>Most often retweeted: <em>{{ retweeted_users[0][0] }}</em></h4></p>

            </div>
            <div class="py-5">
                <div class="dropdown text-right">

                    <button class="btn btn-default btn-sm dropdown-toggle"
                     type="button" id="changeTimeButton" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="true">

                        {{ time_delta }}-day view

                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="changeTimeButton">

                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url }}?time_delta=1">Last 24 hours</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url }}?time_delta=2">Last 48 hours</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url }}?time_delta=7">Last 7 days</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url }}?time_delta=28">Last 28 days</a></li>

                        </ul>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<div id="graphs">
    <div class="row text-center">
        <div class="col-sm-12">
            <div id="chart1" class="chart"></div>
        </div>
    </div>
</div>
<br>


<div id="hashtags"></div>
<div>
    <div class="table=responsive">
        <div class="row">
            <div class="col-md-6">
                <h2>Most frequently used hashtags</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Hashtag</th>
                            <th>Appearances</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in all_hashes[0:20] %}
                        <tr>
                            <td><a href={{ url_for('hashtag', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2 id="hashtags_nodist">Most frequently used hashtags (no district names)</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Hashtag</th>
                            <th>Appearances</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in hashes_no_dists %}
                        <tr>
                            <td><a href={{ url_for('hashtag', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tweeters" class="left-table"></div>
        <div class="row">
            <div class="col-md-6">
                <h2>Most active Tweeters</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Screen name</th>
                            <th>Appearances</th>
                            <th><a tabindex="0" data-toggle="popover" data-trigger="focus"
                                data-placement="top" data-content="According to the IUNI/CetS
                                Botometer Project, &quot;the probability, according
                                to our models, that this account is completely automated, i.e.,
                                a bot.&quot; For details, see &quot;How to use this site&quot;
                                (link above).">Botometer score</a> (%)</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in top_tweeters[0:20] %}
                        <tr>
                            <td><a href={{ url_for('screen_name', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2 id="retweeted">Most frequently retweeted users</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Screen name</th>
                            <th>Appearances</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for item in retweeted_users[0:20] %}
                        <tr>
                            <td><a href={{ url_for('screen_name', dynamic=item[0], time_delta=time_delta) }}>{{ item[0] }}</a></td>
                            <td>{{ item[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include '_tweet_table.html' %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'line']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data = google.visualization.arrayToDataTable(
            {{ hashtable_all|tojson }}
        );

        var options = {
          title: "Current top hashtags (excepting district names), 10-day view"
        };

        var chart1 = new google.visualization.LineChart(document.getElementById('chart1'));

        chart1.draw(data, options);
      }

      $(window).resize(function(){
          drawChart1();
      });

    </script>


{% endblock %}
